.nav {
  padding: 1rem;
  background: black;
}

.nav-content {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;

  &__title {
    color: #EEEEEE;
    text-decoration: none;
  }
  &__item {
    margin-left: 0.5rem;
    color: #EEEEEE;
    text-decoration: none;
  }
}
