.pictures {
  margin: 3rem;
  margin-bottom: 10rem;
}

.hero {
  padding: 2rem;
  text-align: center;
}

.square {
  position: relative;
  width: 100%;
  padding-top: calc(100%);
  overflow: hidden;

  &__pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: opacity(0.8);
  }
}

.grid {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  font-family: 'Harmattan', sans-serif;

  &__item {
    flex-grow: 1;
    width: calc(100% / 3 - 1rem);
    min-width: 15rem;
    margin: 0.5rem;
    background: white;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0,0,0,0.4);

    &:active {
      transform: scale(1.75);
      transition: 0.7s;
      box-shadow: none;
      z-index: 10;

      .square__pic {
        filter: opacity(1);
      }

      .grid__item-info {
        display: none;
        width: 0;
      }

      .grid__item-infohide {
        display: block;
        text-align: center;
      }
    }

    &-info {
      padding: 0.5rem;
      background: white;
      font-size: 1.9rem;
      text-align: center;
    }

    &-infohide {
      display: none;
      background: white;
    }
  }
}
